<%@ page contentType="text/html;charset=UTF-8"%>
<%@ taglib uri="jakarta.tags.core" prefix="c"%>

<div class="container">
	<p>

		<nav aria-label="breadcrumb" class="mb-3">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Início</a></li>
				<li class="breadcrumb-item">${entidade.modulo.titulo}</li>
				<li class="breadcrumb-item"><a href="/${entidade.classe.toLowerCase()}">${entidade.classe}</a></li>
				<li class="breadcrumb-item active" aria-current="page">Edição
					de ${entidade.titulo}s</li>
			</ol>
		</nav>
	<p>
	<div class="bd-example-snippet bd-code-snippet">
		<div class="bd-example m-0 border-0">

			<h3>${entidade.titulo}</h3>
			<hr />

			<form class="row needs-validation" name="${entidade.classe}sform" method="POST"
				action="/${entidade.classe.toLowerCase()}" novalidate>

				<input type="hidden" name="id" value="*{${entidade.classe.toLowerCase()}Edit.id}"> <input
					type="hidden" name="action" value="editar">
					
					#foreach( $campo in ${entidade.campos} )
					
						#if($campo.referencia)
							<div class="col-${campo.posicao} mb-3">
							<label for="nomeInput" class="form-label">${campo.rotulo}</label> 
							<select	name="${campo.tipo.substring(0,1).toLowerCase()}${campo.tipo.substring(1)}Id" class="form-control" id="${campo.tipo.substring(0,1).toLowerCase()}${campo.tipo.substring(1)}Input" required>
								<option value="">Selecione</option>
							
							<c:forEach var="c" items="*{${campo.nome.toLowerCase()}s}">

								<c:choose>
								<c:when test="*{c.id eq ${entidade.classe.toLowerCase()}Edit.${campo.tipo.substring(0,1).toLowerCase()}${campo.tipo.substring(1)}Id}">
									<option value="${c.id}" selected>*{c.${campo.campoReferencia.toLowerCase()}}</option>
								</c:when>
								<c:otherwise>
									<option value="${c.id}">*{c.${campo.campoReferencia.toLowerCase()}}</option>
								</c:otherwise>
								</c:choose>

							</c:forEach>
							
							</select>
							<div class="invalid-feedback">Informe um valor válido para '${campo.nome}.'.</div>
							</div>
						
						#elseif($campo.tipo == 'Enum')
							
							<div class="col-${campo.posicao} mb-3">
							<label for="nomeInput" class="form-label">${campo.rotulo}</label> 
							<select	name="${campo.nome}Id" class="form-control" id="${campo.nome}Input" required>
								<option value="">Selecione</option>
							
							<c:forEach var="c" items="*{Dominio${campo.nome}}">

								<c:choose>
								<c:when test="*{c eq ${entidade.classe.toLowerCase()}Edit.${campo.nome}Id}">
									<option value="${c}" selected>${c}</option>
								</c:when>
								<c:otherwise>
									<option value="${c}">${c}</option>
								</c:otherwise>
								</c:choose>

							</c:forEach>
							
							</select>
							<div class="invalid-feedback">Informe um valor válido para '${campo.nome}.'.</div>
							</div>
					
						#elseif($campo.tipoView == 'textarea')
							<div class="col-${campo.posicao} mb-3">
								<label for="${campo.nome}Input" class="form-label">${campo.rotulo}</label> 
								<textarea name="${campo.nome}" class="form-control" cols="10" rows="3">*{${entidade.classe.toLowerCase()}Edit.${campo.nome}}</textarea>
								<div class="invalid-feedback">Informe um valor válido para '${campo.nome}.'.</div>
							</div>	
						#else
							<div class="col-${campo.posicao} mb-3">
								<label for="${campo.nome}Input" class="form-label">${campo.rotulo}</label> 
								<input type="${campo.tipoEntrada}" name="${campo.nome}" class="form-control" value="*{${entidade.classe.toLowerCase()}Edit.${campo.nome}}" required>
								<div class="invalid-feedback">Informe um valor válido para '${campo.nome}.'.</div>
							</div>
						#end	
						
					#end

				<p>
				<div class="col mb-3">
					<button type="submit" id="btnSalvar"
						class="btn btn-dark btn-sm py-1">
						<i class="bi-save"></i> Salvar
					</button>
					
					<a class="btn btn-secondary btn-sm py-1" formnovalidate
						href="/${entidade.classe.toLowerCase()}"><i class="bi-arrow-left"></i> Cancelar</a>
					
					<a class="btn btn-danger btn-sm py-1" href="/${entidade.classe.toLowerCase()}/remover?id=*{${entidade.classe.toLowerCase()}Edit.id}">Remover</a>	
				</div>
			</form>
		</div>
	</div>
</div>
