package com.example.codelamp.${entidade.classe.toLowerCase()};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;

import jakarta.servlet.http.HttpSession;

import com.example.codelamp.${entidade.entidadeReferencia.classe.toLowerCase()}.${entidade.entidadeReferencia.classe}Service;
import com.example.codelamp.${entidade.campoMestre.tipo.toLowerCase()}.${entidade.campoMestre.tipo}Service;


@Controller
@RequestMapping("/${entidade.classe.toLowerCase()}")
public class ${entidade.classe}Controller {
	
	private static final String LAYOUT = "layout";
	private static final String PAGECONTENT = "pageContent";

	private static final String REDIRECT = "redirect:/${entidade.classe.toLowerCase()}";
	private static final String LIST = "/WEB-INF/jsp/${entidade.classe.toLowerCase()}/${entidade.classe.toLowerCase()}.jsp";
	
	@Autowired
    private ${entidade.campoMestre.tipo}Service ${entidade.campoMestre.tipo.substring(0,1).toLowerCase()}${entidade.campoMestre.tipo.substring(1)}Service;
	
	@Autowired
	private ${entidade.classe}Service ${entidade.classe.substring(0,1).toLowerCase()}${entidade.classe.substring(1)}Service;
	
	@GetMapping("/{id}")
	public String listar(Model model, @RequestParam String id, HttpSession session) {
	
    	model.addAttribute("${entidade.campoMestre.tipo.substring(0,1).toLowerCase()}${entidade.campoMestre.tipo.substring(1)}X", ${entidade.campoMestre.tipo.substring(0,1).toLowerCase()}${entidade.campoMestre.tipo.substring(1)}Service.obter(id));
		model.addAttribute("${entidade.classe.toLowerCase()}Map", ${entidade.classe.substring(0,1).toLowerCase()}${entidade.classe.substring(1)}Service.listar(id));
		model.addAttribute(PAGECONTENT, LIST);
		return LAYOUT;
	
	}

}