package com.example.codelamp.${entidade.classe.toLowerCase()};

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Objects;
import java.util.UUID;
import java.util.stream.Collectors;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import com.example.codelamp.${entidade.entidadeReferencia.classe.toLowerCase()}.*;

@Service
public class ${entidade.classe}Service {

	@Autowired
	private ${entidade.entidadeReferencia.classe}Service ${entidade.entidadeReferencia.classe.substring(0,1).toLowerCase()}${entidade.entidadeReferencia.classe.substring(1)}Service;

	public Map<String, List<${entidade.entidadeReferencia.classe}>> listar(String id) {

		Map<String, List<${entidade.entidadeReferencia.classe}>> kanban = new HashMap<>();
		
		List<${entidade.entidadeReferencia.classe}> list = this.${entidade.entidadeReferencia.classe.substring(0,1).toLowerCase()}${entidade.entidadeReferencia.classe.substring(1)}Service.listar(id);
		
		List<String> values = Dominio${entidade.campoStatus.nome}.obterInstancia().getItems();
		
		for (String string : values) {
			List<${entidade.entidadeReferencia.classe}> lst = new ArrayList<>();
			kanban.put(string, lst);
		}
		
		for (${entidade.entidadeReferencia.classe} ${entidade.entidadeReferencia.classe.substring(0,1).toLowerCase()}${entidade.entidadeReferencia.classe.substring(1)} : list) {
			kanban.get(${entidade.entidadeReferencia.classe.substring(0,1).toLowerCase()}${entidade.entidadeReferencia.classe.substring(1)}.${entidade.campoStatus.metodoGet()}()).add(${entidade.entidadeReferencia.classe.substring(0,1).toLowerCase()}${entidade.entidadeReferencia.classe.substring(1)});
		}
		
		return kanban;
	}

}