package com.example.codelamp.${entidade.classe.toLowerCase()};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;

#foreach( $campo in ${entidade.filtro.campos} )
#if($campo.referencia)
import com.example.codelamp.${campo.tipo.toLowerCase()}.${campo.tipo}Service;
#end
#end

#foreach( $campo in ${entidade.campos} )
#if($campo.referencia)
import com.example.codelamp.${campo.tipo.toLowerCase()}.${campo.tipo}Service;
#end
#end

import com.example.codelamp.${entidade.entidadeReferencia.classe.toLowerCase()}.${entidade.entidadeReferencia.classe}Service;


@Controller
@RequestMapping("/${entidade.classe.toLowerCase()}")
public class ${entidade.classe}Controller {
	
	private static final String LAYOUT = "layout";
	private static final String PAGECONTENT = "pageContent";
	
	private static final String REDIRECT = "redirect:/${entidade.classe.toLowerCase()}";
	private static final String LIST = "/WEB-INF/jsp/${entidade.classe.toLowerCase()}/${entidade.classe.toLowerCase()}.jsp";

    @Autowired
    private ${entidade.classe}Service ${entidade.classe.toLowerCase()}Service;
    
    @Autowired
    private ${entidade.entidadeReferencia.classe}Service ${entidade.entidadeReferencia.classe.substring(0,1).toLowerCase()}${entidade.entidadeReferencia.classe.substring(1)}Service;

#foreach($campo in ${entidade.filtro.campos} )
	#if($campo.referencia)
    @Autowired
    private ${campo.tipo}Service ${campo.tipo.toLowerCase()}Service;
	#end
#end
    
#foreach($campo in ${entidade.campos} )
	#if($campo.referencia)
    @Autowired
    private ${campo.tipo}Service ${campo.tipo.toLowerCase()}Service;
	#end
#end

    @GetMapping
    public String listar(Model model) {
    
     #foreach($campo in ${entidade.filtro.campos} )
		#if($campo.referencia)
		model.addAttribute("${campo.tipo.toLowerCase()}s", ${campo.tipo.toLowerCase()}Service.listar());
		#end
	
		#if($campo.tipo == 'Enum')
		model.addAttribute("Dominio${campo.nome}", Dominio${campo.nome}.obterInstancia().getItems());
		#end
	#end
    
     #foreach($campo in ${entidade.campos} )
		#if($campo.referencia)
		model.addAttribute("${campo.tipo.toLowerCase()}s", ${campo.tipo.toLowerCase()}Service.listar());
		#end
	
		#if($campo.tipo == 'Enum')
		model.addAttribute("Dominio${campo.nome}", Dominio${campo.nome}.obterInstancia().getItems());
		#end
	#end
    
        model.addAttribute("${entidade.classe.toLowerCase()}s", ${entidade.classe.toLowerCase()}Service.listar());
        model.addAttribute(PAGECONTENT, LIST);
        return LAYOUT;
    }
    
    @GetMapping("/{id}")
    public String listar(Model model, @RequestParam String id) {
    
     #foreach($campo in ${entidade.filtro.campos} )
		#if($campo.referencia)
		model.addAttribute("${campo.tipo.toLowerCase()}s", ${campo.tipo.toLowerCase()}Service.listar());
		#end
	
		#if($campo.tipo == 'Enum')
		model.addAttribute("Dominio${campo.nome}", Dominio${campo.nome}.obterInstancia().getItems());
		#end
	#end
    
     #foreach($campo in ${entidade.campos} )
		#if($campo.referencia)
		model.addAttribute("${campo.tipo.toLowerCase()}s", ${campo.tipo.toLowerCase()}Service.listar());
		#end
	
		#if($campo.tipo == 'Enum')
		model.addAttribute("Dominio${campo.nome}", Dominio${campo.nome}.obterInstancia().getItems());
		#end
	#end
    
    	model.addAttribute("${entidade.entidadeReferencia.classe.substring(0,1).toLowerCase()}${entidade.entidadeReferencia.classe.substring(1)}X", ${entidade.entidadeReferencia.classe.substring(0,1).toLowerCase()}${entidade.entidadeReferencia.classe.substring(1)}Service.obter(id));
        model.addAttribute("${entidade.classe.toLowerCase()}s", ${entidade.classe.toLowerCase()}Service.listar(id));
        model.addAttribute(PAGECONTENT, LIST);
        return LAYOUT;
    }
    
    @PostMapping
    public String salvar(Model model, ${entidade.classe} ${entidade.classe.toLowerCase()}) {
         ${entidade.classe.toLowerCase()}Service.salvar(${entidade.classe.toLowerCase()});
        
        listar(model, ${entidade.classe.toLowerCase()}.get${entidade.campoMestre.tipo}Id());
        
        model.addAttribute(PAGECONTENT, LIST);
        return LAYOUT;
    }
    
    @GetMapping("/remover")
    public String remover(@RequestParam String id) {
    	${entidade.classe.toLowerCase()}Service.remover(id);
        return REDIRECT;
    }

}