#if($campo.referencia)
	<div class="col-${campo.posicao} mb-3">
	<label for="nomeInput" class="form-label">${campo.rotulo}</label> 
	<select	name="${campo.tipo.substring(0,1).toLowerCase()}${campo.tipo.substring(1)}Id" class="form-control" id="${campo.tipo.substring(0,1).toLowerCase()}${campo.tipo.substring(1)}Input" required>
		<option value="">Selecione</option>
	
	<c:forEach var="c" items="*{${campo.nome.toLowerCase()}s}">
		<option value="*{c.id}" <c:if test="*{c.id eq ${campo.tipo.substring(0,1).toLowerCase()}${campo.tipo.substring(1)}Id}">selected</c:if>>*{c.${campo.campoReferencia}}</option>
	</c:forEach>
	
	</select>
	<div class="invalid-feedback">Informe um valor válido para '${campo.nome}.'.</div>
	</div>
#elseif($campo.tipo == 'Enum')
	<div class="col-${campo.posicao} mb-3">
	<label for="nomeInput" class="form-label">${campo.rotulo}</label> 
	<select	name="${campo.nome}Id" class="form-control" id="${campo.nome}Input" required>
		<option value="">Selecione</option>
	
	<c:forEach var="c" items="*{Dominio${campo.nome}}">
		<option value="${c}">${c}</option>
	</c:forEach>
	
	</select>
	<div class="invalid-feedback">Informe um valor válido para '${campo.nome}.'.</div>
	</div>
#elseif($campo.tipo == 'Label')
	<div class="col-${campo.posicao} mb-3">
		<label for="${campo.nome}Input" class="form-label">${campo.rotulo}</label> 
		<input type="${campo.tipoEntrada}" name="${campo.nome}" class="form-control" required>
		<div class="invalid-feedback">Informe um valor válido para '${campo.nome}.'.</div>
	</div>
#elseif($campo.tipoView == 'textarea')
	<div class="col-${campo.posicao} mb-3">
		<label for="${campo.nome}Input" class="form-label">${campo.rotulo}</label> 
		<textarea name="${campo.nome}" class="form-control" cols="10" rows="3"></textarea>
		<div class="invalid-feedback">Informe um valor válido para '${campo.nome}.'.</div>
	</div>	
#elseif($campo.tipoView == 'img')
	<div class="col-${campo.posicao} mb-3">
		<label for="${campo.nome}Input" class="form-label">${campo.rotulo}</label> 
		<img src="" name="${campo.nome}" class="form-control"></img>
		<div class="invalid-feedback">Informe um valor válido para '${campo.nome}.'.</div>
	</div>	
#else
	<div class="col-${campo.posicao} mb-3">
		<label for="${campo.nome}Input" class="form-label">${campo.rotulo}</label> 
		<input type="${campo.tipoEntrada}" name="${campo.nome}" class="form-control" required>
		<div class="invalid-feedback">Informe um valor válido para '${campo.nome}.'.</div>
	</div>
#end	