#if($campo.referencia)
		
    public String get${campo.tipo}Id() {
        return this.${campo.getVarTipo()}Id;
    }

    public void set${campo.tipo}Id(String ${campo.getVarTipo()}Id) {
        this.${campo.getVarTipo()}Id = ${campo.getVarTipo()}Id;
    }
    
    public $campo.tipo get${campo.nome}() {
        return $campo.getVarNome();
    }

    public void set${campo.nome}($campo.tipo $campo.getVarNome()) {
        this.$campo.getVarNome() = $campo.getVarNome();
    }
    
#elseif($campo.tipo == 'Enum')

    public String get${campo.nome}Id() {
        return this.${campo.getVarNome()}Id;
    }

    public void set${campo.nome}Id(String ${campo.getVarNome()}Id) {
        this.${campo.getVarNome()}Id = ${campo.getVarNome()}Id;
    }
    
    public String get${campo.nome}() {
        return this.${campo.getVarNome()};
    }

    public void set${campo.nome}(String ${campo.getVarNome()}) {
        this.${campo.getVarNome()} = ${campo.getVarNome()};
    }

#else

    public $campo.tipo get${campo.nome}() {
        return $campo.getVarNome();
    }

    public void set${campo.nome}($campo.tipo $campo.getVarNome()) {
        this.$campo.getVarNome() = $campo.getVarNome();
    }

#end

#if($campo.tipo == 'Date')

    public String get${campo.nome}Str() {
    		SimpleDateFormat sdf = new SimpleDateFormat("yyyy-MM-dd");
			return sdf.format(this.${campo.getVarNome()});
    }

#end
	
    
