#if($campo.referencia)
		
    public String get${campo.tipo.substring(0,1).toUpperCase()}${campo.tipo.substring(1)}Id() {
        return this.${campo.tipo.toLowerCase()}Id;
    }

    public void set${campo.tipo.substring(0,1).toUpperCase()}${campo.tipo.substring(1)}Id(String ${campo.tipo.toLowerCase()}Id) {
        this.${campo.tipo.toLowerCase()}Id = ${campo.tipo.toLowerCase()}Id;
    }
    
    public $campo.tipo get${campo.nome.substring(0,1).toUpperCase()}${campo.tipo.substring(1)}() {
        return $campo.nome;
    }

    public void set${campo.nome.substring(0,1).toUpperCase()}${campo.tipo.substring(1)}($campo.tipo $campo.nome) {
        this.$campo.nome = $campo.nome;
    }
    
#elseif($campo.tipo == 'Enum')

    public String get${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}Id() {
        return this.${campo.nome.toLowerCase()}Id;
    }

    public void set${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}Id(String ${campo.nome.toLowerCase()}Id) {
        this.${campo.nome.toLowerCase()}Id = ${campo.nome.toLowerCase()}Id;
    }
    
    public String get${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}() {
        return this.${campo.nome};
    }

    public void set${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}(String ${campo.nome.toLowerCase()}) {
        this.${campo.nome} = ${campo.nome.toLowerCase()};
    }

#else

    public $campo.tipo get${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}() {
        return $campo.nome;
    }

    public void set${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}($campo.tipo $campo.nome) {
        this.$campo.nome = $campo.nome;
    }

#end

#if($campo.tipo == 'Date')

    public String get${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}Str() {
    		SimpleDateFormat sdf = new SimpleDateFormat("yyyy-MM-dd");
			return sdf.format(this.${campo.nome});
    }

#end
	
    
