package com.example.codelamp.${entidade.classe.toLowerCase()};

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Objects;
import java.util.UUID;
import java.util.stream.Collectors;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import com.example.codelamp.${entidade.campoReferencia.tipo.toLowerCase()}.${entidade.campoReferencia.tipo};
import com.example.codelamp.${entidade.mestreDetalhe.classe.toLowerCase()}.${entidade.mestreDetalhe.classe};
import com.example.codelamp.${entidade.mestreDetalhe.classe.toLowerCase()}.${entidade.mestreDetalhe.classe}Service;

@Service
public class ${entidade.classe}Service {

	@Autowired
	private ${entidade.mestreDetalhe.classe}Service ${entidade.mestreDetalhe.classe.substring(0,1).toLowerCase()}${entidade.mestreDetalhe.classe.substring(1)}Service;

	public Map<String, List<${entidade.campoReferencia.tipo}>> listar(String id) {

		Map<String, List<${entidade.campoReferencia.tipo}>> kanban = new HashMap<>();
		
		List<${entidade.mestreDetalhe.classe}> list = this.${entidade.mestreDetalhe.classe.substring(0,1).toLowerCase()}${entidade.mestreDetalhe.classe.substring(1)}Service.listar(id);
		
		for (${entidade.mestreDetalhe.classe} ${entidade.mestreDetalhe.classe.substring(0,1).toLowerCase()}${entidade.mestreDetalhe.classe.substring(1)} : list) {
			
			if (!kanban.containsKey(${entidade.mestreDetalhe.classe.substring(0,1).toLowerCase()}${entidade.mestreDetalhe.classe.substring(1)}.getStatus())) {
				List<${entidade.campoReferencia.tipo}> lst = new ArrayList<>();
				lst.add(${entidade.mestreDetalhe.classe.substring(0,1).toLowerCase()}${entidade.mestreDetalhe.classe.substring(1)}.get${entidade.campoReferencia.tipo}());
				kanban.put(${entidade.mestreDetalhe.classe.substring(0,1).toLowerCase()}${entidade.mestreDetalhe.classe.substring(1)}.${entidade.campoStatus.metodoGet()}(), lst);	
			} else {
				kanban.get(${entidade.mestreDetalhe.classe.substring(0,1).toLowerCase()}${entidade.mestreDetalhe.classe.substring(1)}.${entidade.campoStatus.metodoGet()}()).add(${entidade.mestreDetalhe.classe.substring(0,1).toLowerCase()}${entidade.mestreDetalhe.classe.substring(1)}.get${entidade.campoReferencia.tipo}());
			}
		}
		
		return kanban;
	}

}