package com.example.codelamp.${entidade.classe.toLowerCase()};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;

import java.util.List;
import jakarta.servlet.http.HttpSession;

#foreach( $campo in ${entidade.filtro.campos} )
#if($campo.referencia)
import com.example.codelamp.${campo.tipo.toLowerCase()}.${campo.tipo};
import com.example.codelamp.${campo.tipo.toLowerCase()}.${campo.tipo}Service;

#end
#end

#foreach( $campo in ${entidade.campos} )
#if($campo.referencia)
import com.example.codelamp.${campo.tipo.toLowerCase()}.${campo.tipo};
import com.example.codelamp.${campo.tipo.toLowerCase()}.${campo.tipo}Service;
#end
#end

import com.example.codelamp.${entidade.entidadeReferencia.classe.toLowerCase()}.${entidade.entidadeReferencia.classe};
import com.example.codelamp.${entidade.entidadeReferencia.classe.toLowerCase()}.${entidade.entidadeReferencia.classe}Service;


@Controller
@RequestMapping("/${entidade.classe.toLowerCase()}")
public class ${entidade.classe}Controller {
	
	private static final String LAYOUT = "layout";
	private static final String PAGECONTENT = "pageContent";
	
	private static final String REDIRECT = "redirect:/${entidade.classe.toLowerCase()}";
	private static final String LIST = "/WEB-INF/jsp/${entidade.classe.toLowerCase()}/${entidade.classe.toLowerCase()}.jsp";

    @Autowired
    private ${entidade.classe}Service ${entidade.classe.toLowerCase()}Service;
    
    @Autowired
    private ${entidade.entidadeReferencia.classe}Service ${entidade.entidadeReferencia.classe.substring(0,1).toLowerCase()}${entidade.entidadeReferencia.classe.substring(1)}Service;

#foreach($campo in ${entidade.filtro.campos} )
	#if($campo.referencia)
    @Autowired
    private ${campo.tipo}Service ${campo.tipo.toLowerCase()}Service;
	#end
#end
    
#foreach($campo in ${entidade.campos} )
	#if($campo.referencia)
    @Autowired
    private ${campo.tipo}Service ${campo.tipo.toLowerCase()}Service;
	#end
#end

    @GetMapping
    public String listar(Model model) {
    
     #foreach($campo in ${entidade.filtro.campos} )
		#if($campo.referencia)
		model.addAttribute("${campo.tipo.toLowerCase()}s", ${campo.tipo.toLowerCase()}Service.listar());
		#end
	
		#if($campo.tipo == 'Enum')
		model.addAttribute("Dominio${campo.nome}", Dominio${campo.nome}.obterInstancia().getItems());
		#end
	#end
    
     #foreach($campo in ${entidade.campos} )
		#if($campo.referencia)
		model.addAttribute("${campo.tipo.toLowerCase()}s", ${campo.tipo.toLowerCase()}Service.listar());
		#end
	
		#if($campo.tipo == 'Enum')
		model.addAttribute("Dominio${campo.nome}", Dominio${campo.nome}.obterInstancia().getItems());
		#end
	#end
    
        model.addAttribute("${entidade.classe.toLowerCase()}s", ${entidade.classe.toLowerCase()}Service.listar());
        model.addAttribute(PAGECONTENT, LIST);
        return LAYOUT;
    }
    
    @GetMapping("/{id}")
    public String listar(Model model, @RequestParam String id, HttpSession session) {
    
    	session.setAttribute("${entidade.classe.toLowerCase()}Id", id);
    	
    	List<${entidade.classe}> tNota = ${entidade.classe.toLowerCase()}Service.listar(id);

 	#foreach($campo in ${entidade.campos} )
		#if($campo.referencia)
			
			model.addAttribute("${campo.tipo.toLowerCase()}s", ${campo.tipo.toLowerCase()}Service.listar());
		
			if (tNota.isEmpty()) {
	        	
	        	List<${campo.tipo}> tAluno = ${campo.tipo.toLowerCase()}Service.listar();
	        	
	        	for (${campo.tipo} turmaAluno : tAluno) {
	        	
	        	${entidade.classe} trabalhoNota = new ${entidade.classe}();
	        		
	        	#foreach($campo in ${entidade.campos} )
					#if($campo.referencia)
	        		trabalhoNota.set${campo.tipo}(${campo.getVarTipo()});
	        		trabalhoNota.set${campo.tipo}Id(${campo.getVarTipo()}.getId());
	        		#end
	        	#end
	        	
	        		trabalhoNota.set${entidade.campoMestre.tipo}(${entidade.campoMestre.getVarTipo()}Service.obter(id));
	        		trabalhoNota.set${entidade.campoMestre.tipo}Id(id);
	        		
	        		${entidade.classe.toLowerCase()}Service.salvar(trabalhoNota);
				}
	        }
		
		#end
	
			#if($campo.tipo == 'Enum')
				model.addAttribute("Dominio${campo.nome}", Dominio${campo.nome}.obterInstancia().getItems());
			#end
		#end
    
    	model.addAttribute("${entidade.entidadeReferencia.classe.substring(0,1).toLowerCase()}${entidade.entidadeReferencia.classe.substring(1)}X", ${entidade.entidadeReferencia.classe.substring(0,1).toLowerCase()}${entidade.entidadeReferencia.classe.substring(1)}Service.obter(id));
        model.addAttribute("${entidade.classe.toLowerCase()}s", ${entidade.classe.toLowerCase()}Service.listar(id));
        model.addAttribute(PAGECONTENT, LIST);
        return LAYOUT;
    }
    
    @PostMapping
    public String salvar(Model model, ${entidade.classe}Saida ${entidade.classe.toLowerCase()}saida, HttpSession session) {
    
    	for (int i = 0; i < ${entidade.classe.toLowerCase()}saida.get${entidade.campoRotulo.tipo}Id().length; i++) {
			
			${entidade.classe} trabalhoNota = ${entidade.classe.toLowerCase()}Service.obter(${entidade.classe.toLowerCase()}saida.get${entidade.campoRotulo.tipo}Id()[i]);
						 	   trabalhoNota.set${entidade.campoValor.nome}(${entidade.classe.toLowerCase()}saida.get${entidade.campoValor.nome}Lote()[i]);
        				 
        	${entidade.classe.toLowerCase()}Service.editar(trabalhoNota);			 
		}
    	
    	#foreach($campo in ${entidade.campos} )
			#if($campo.tipo == 'Enum')
				model.addAttribute("Dominio${campo.nome}", Dominio${campo.nome}.obterInstancia().getItems());
			#end
		#end
    	
    	String id = String.valueOf(session.getAttribute("${entidade.classe.toLowerCase()}Id"));
    	
    	model.addAttribute("${entidade.entidadeReferencia.classe.substring(0,1).toLowerCase()}${entidade.entidadeReferencia.classe.substring(1)}X", ${entidade.entidadeReferencia.classe.substring(0,1).toLowerCase()}${entidade.entidadeReferencia.classe.substring(1)}Service.obter(id));
        model.addAttribute("${entidade.classe.toLowerCase()}s", ${entidade.classe.toLowerCase()}Service.listar(id));
        model.addAttribute(PAGECONTENT, LIST);
        return LAYOUT;
    
    }
    
    @GetMapping("/remover")
    public String remover(Model model, @RequestParam String id, HttpSession session) {
    	${entidade.classe.toLowerCase()}Service.remover(id);
    	
    	String ${entidade.classe.toLowerCase()}Id = String.valueOf(session.getAttribute("${entidade.classe.toLowerCase()}Id"));
    	
		listar(model, ${entidade.classe.toLowerCase()}Id, session);
    	
        return LAYOUT;
    }

}