package com.example.codelamp.${entidade.classe.toLowerCase()};

import java.text.SimpleDateFormat;
import java.util.Date;
import java.util.Objects;
import org.springframework.format.annotation.DateTimeFormat;

import com.example.codelamp.${entidade.campoMestre.tipo.toLowerCase()}.${entidade.campoMestre.tipo};

#foreach( $campo in ${entidade.campos} )
#if($campo.referencia)
import com.example.codelamp.${campo.tipo.toLowerCase()}.${campo.tipo};
#end
#end

public class $entidade.classe {
	
	private String id;
	
	private String action;
	
	private ${entidade.campoMestre.tipo} ${entidade.campoMestre.getVarTipo()};
	
	private String ${entidade.campoMestre.getVarTipo()}Id;

#foreach( $campo in ${entidade.campos} )
	#if($campo.tipo == 'Date')
		@DateTimeFormat(pattern = "yyyy-MM-dd")
		private $campo.tipo $campo.getVarNome();
	#elseif($campo.referencia)
		private String $campo.getVarNome()Id;
		private $campo.tipo $campo.getVarNome();
	#elseif($campo.tipo == 'Enum')
		private String $campo.getVarNome()Id;
		private String $campo.getVarNome();
	#else
		private $campo.tipo $campo.getVarNome();
	#end
#end

	
	public ${entidade.classe}() {}
	
	public String getId() {
		return id;
	}

	public void setId(String id) {
		this.id = id;
	}
	
	public String getAction() {
		return action;
	}

	public void setAction(String action) {
		this.action = action;
	}


	public void set${entidade.campoMestre.tipo}(${entidade.campoMestre.tipo} ${entidade.campoMestre.getVarTipo()}){
		this.${entidade.campoMestre.getVarTipo()} = ${entidade.campoMestre.getVarTipo()};
	}
	
	public ${entidade.campoMestre.tipo} get${entidade.campoMestre.tipo}(){
		return this.${entidade.campoMestre.getVarTipo()};
	}
	
	public void set${entidade.campoMestre.tipo}Id(String id){
		this.${entidade.campoMestre.getVarTipo()}Id = id;
	}
	
	public String get${entidade.campoMestre.tipo}Id(){
		return this.${entidade.campoMestre.getVarTipo()}Id;
	}
	
	#foreach( $campo in ${entidade.campos} )
		#parse("template/operacoes.vm")
	#end

	@Override
	public int hashCode() {
		return Objects.hash(id);
	}
	
	@Override
	public boolean equals(Object obj) {
		if (this == obj)
			return true;
		if (obj == null)
			return false;
		if (getClass() != obj.getClass())
			return false;
		$entidade.classe other = ($entidade.classe) obj;
		return Objects.equals(id, other.id);
	}
}
