package com.example.codelamp.${entidade.classe.toLowerCase()};

import java.text.ParseException;
import java.text.SimpleDateFormat;

import java.util.ArrayList;
import java.util.List;
import java.util.Objects;
import java.util.stream.Collectors;


import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

#foreach( $campo in ${entidade.saida.campos} )
#if($campo.referencia)
import com.example.codelamp.${campo.tipo.toLowerCase()}.${campo.tipo}Service;
#end
#end

import com.example.codelamp.${lote.entidadeBase.toLowerCase()}.${lote.entidadeBase};
import com.example.codelamp.${lote.entidadeBase.toLowerCase()}.${lote.entidadeBase}Service;

@Service
public class ${entidade.classe}Service {

	private final List<${entidade.classe}Saida> lancamentonotass = new ArrayList<>();
	
	#foreach($campo in ${entidade.saida.campos} )
	#if($campo.referencia)
	    @Autowired
	    private ${campo.tipo}Service ${campo.tipo.toLowerCase()}Service;
	#end
	#end
	
	@Autowired
	private ${lote.entidadeBase}Service ${lote.entidadeBase}Service;
	
	public ${entidade.classe}Saida salvar(${entidade.classe}Saida ${entidade.classe}) {
		
		${entidade.classe}Saida saida = new ${entidade.classe}Saida();
		
		String[] matriculas = ${entidade.classe}.get${lote.entidadeBase}IdInput();
		
		for (int i = 0; i < matriculas.length; i++) {
			${entidade.classe}Saida lns = new ${entidade.classe}Saida();
								 lns.setId(matriculas[i]);
								 
			lns = lancamentonotass.get(lancamentonotass.indexOf(lns));
			
			#foreach($campo in ${entidade.saida.campos} )
			#if($campo.entradaLote)
				#if($campo.tipo == 'double')
					lns.set${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}(Double.valueOf(${entidade.classe}.${campo.metodoGet()}Input()[i]));
				#elseif($campo.tipo == 'int')
					lns.set${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}(Integer.valueOf(${entidade.classe}.${campo.metodoGet()}Input()[i]));
				#elseif($campo.tipo == 'Date') 
					SimpleDateFormat sdf = new SimpleDateFormat("yyyy-MM-dd");
					try {
						lns.set${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}(sdf.parse(${entidade.classe}.${campo.metodoGet()}Input()[i]));
					} catch (ParseException e) {
						e.printStackTrace();
					}
				#else
					lns.set${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}(${entidade.classe}.${campo.metodoGet()}Input()[i]);
				#end
			#end
			#end
			
			saida = lns;
		}
		
		return saida;
		
	}

	public List<${entidade.classe}Saida> carregar(${entidade.classe}Saida ${entidade.classe.toLowerCase()}) {

			List<${lote.entidadeBase}> ${lote.entidadeBase}s = this.${lote.entidadeBase}Service.listar().stream()
								    .filter(x -> 
								        #set($count = 0)
								        #foreach($campo in $entidade.filtro.campos)
								            #if($entidadeBase.isCampoPresente($campo.nome))
								                #if($count > 0) && #end
								                Objects.equals(x.get${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}Id(), ${entidade.classe.toLowerCase()}.${campo.metodoGet()}Id())
								                #set($count = $count + 1)
								            #end
								        #end
								    ).collect(Collectors.toList());

					

			for (${lote.entidadeBase} ${lote.entidadeBase.toLowerCase()} : ${lote.entidadeBase}s) {

				${entidade.classe}Saida lns = new ${entidade.classe}Saida();
				
				lns.setId(${lote.entidadeBase.toLowerCase()}.getId());
				
				#foreach($campo in $entidade.saida.campos)
					#if($campo.tipo == $lote.entidadeBase)
						lns.set${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}(${lote.entidadeBase.toLowerCase()});
					#elseif($campo.isReferencia())
					  //Referencia
						lns.set${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}Id(${lote.entidadeBase.toLowerCase()}.$campo.metodoGet()Id());
						lns.set${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}(${campo.nome.toLowerCase()}Service.obter(${lote.entidadeBase.toLowerCase()}.$campo.metodoGet()Id()));
					#elseif($campo.isEnum() && !$campo.isEntradaLote())
					  //Enum	
						lns.set${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}Id(${lote.entidadeBase.toLowerCase()}.get${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}Id());
						lns.set${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}(${lote.entidadeBase.toLowerCase()}.get${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}Id());
					#elseif(!$campo.isEntradaLote())
					  //lns.set${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}(${entidade.classe.toLowerCase()}.$campo.metodoGet()());
					    lns.set${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}(${lote.entidadeBase.toLowerCase()}.$campo.metodoGet()());
					#end	
				#end
				
				if (!lancamentonotass.contains(lns)) {
					this.lancamentonotass.add(lns);
				}
			}
			
		   List<${entidade.classe}Saida> lnLocal = this.lancamentonotass.stream()
				.filter(x -> 
						#foreach($campo in $lote.filtro.campos)
		                Objects.equals(x.${campo.metodoGet()}Id(), ${entidade.classe.toLowerCase()}.${campo.metodoGet()}Id())#if($foreach.hasNext) && #end
		                #end
				).collect(Collectors.toList());	
		
		
		return lnLocal;
	}

	public void remover(String id) {

		${entidade.classe} ${entidade.classe.toLowerCase()} = new ${entidade.classe}();
		${entidade.classe.toLowerCase()}.setId(id);

		if (lancamentonotass.contains(${entidade.classe.toLowerCase()} )) {
			lancamentonotass.remove(${entidade.classe.toLowerCase()} );
		}
	}
}