package com.example.codelamp.${entidade.classe.toLowerCase()};

import java.text.SimpleDateFormat;
import java.util.Date;
import java.util.Objects;
import org.springframework.format.annotation.DateTimeFormat;

#foreach( $campo in ${entidade.saida.campos} )
#if($campo.referencia)
import com.example.codelamp.${campo.tipo.toLowerCase()}.${campo.tipo};
#end
#end

import com.example.codelamp.${entidade.entidadeBase.toLowerCase()}.${entidade.entidadeBase};

public class ${entidade.classe}Saida {
	
	private String id;
	
	private String action;

#foreach( $campo in ${entidade.saida.campos} )
	#if($campo.tipo == 'Date')
		@DateTimeFormat(pattern = "yyyy-MM-dd")
		private $campo.tipo ${campo.nome};
	#elseif($campo.referencia)
		private String ${campo.nome.toLowerCase()}Id;
		private $campo.tipo $campo.nome;
	#elseif($campo.tipo == 'Enum')
		private String ${campo.nome.toLowerCase()}Id;
		private String $campo.nome;
	#else
		private $campo.tipo $campo.nome;
	#end
		
	#if($campo.entradaLote)
		private String[] ${campo.nome.toLowerCase()}Input;
	#end
#end

	private String[] ${entidade.entidadeBase.toLowerCase()}IdInput;
	
	public ${entidade.classe}Saida() {}
	
	public String getId() {
		return id;
	}

	public void setId(String id) {
		this.id = id;
	}
	
	public String getAction() {
		return action;
	}

	public void setAction(String action) {
		this.action = action;
	}
	
	#foreach( $campo in ${entidade.saida.campos} )
		#parse("template/operacoes.vm")
		
		#if($campo.referenciado)
			
			public String[] get${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}IdInput() {
				return this.${campo.nome.toLowerCase()}IdInput;
		    }
		
		    public void set${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}IdInput(String[] $campo.nome) {
		        this.$campo.nome.toLowerCase()IdInput = $campo.nome;
		    }
			
		#elseif($campo.entradaLote)
		
			public String[] get${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}Input() {
				return this.${campo.nome.toLowerCase()}Input;
		    }
		
		    public void set${campo.nome.substring(0,1).toUpperCase()}${campo.nome.substring(1)}Input(String[] $campo.nome) {
		        this.$campo.nome.toLowerCase()Input = $campo.nome;
		    }
		
		#end
				
	#end
	
	public String[] get${entidade.entidadeBase.substring(0,1).toUpperCase()}${entidade.entidadeBase.substring(1)}IdInput() {
			return this.${entidade.entidadeBase.toLowerCase()}IdInput;
	}
		
	public void set${entidade.entidadeBase.substring(0,1).toUpperCase()}${entidade.entidadeBase.substring(1)}IdInput(String[] ${entidade.entidadeBase.toLowerCase()}IdInput) {
	       this.${entidade.entidadeBase.toLowerCase()}IdInput = ${entidade.entidadeBase.toLowerCase()}IdInput;
	}

	@Override
	public int hashCode() {
		return Objects.hash(id);
	}
	
	@Override
	public boolean equals(Object obj) {
		if (this == obj)
			return true;
		if (obj == null)
			return false;
		if (getClass() != obj.getClass())
			return false;
		${entidade.classe}Saida other = (${entidade.classe}Saida) obj;
		return Objects.equals(id, other.id);
	}
}