<%@ page contentType="text/html;charset=UTF-8"%>
<%@ taglib uri="jakarta.tags.core" prefix="c"%>

	<p>

		<nav aria-label="breadcrumb" class="mb-3">
			<ol class="breadcrumb admin-bc">
				<li class="breadcrumb-item"><a href="/">Início</a></li>
				<li class="breadcrumb-item"><a href="/${mestre.entidadeReferencia.entidade.classe.toLowerCase()}">${mestre.entidadeReferencia.entidade.titulo}</a></li>
				<li class="breadcrumb-item active" aria-current="page">${mestre.titulo}</li>
			</ol>
		</nav>
	<p>
	<div class="bd-example-snippet bd-code-snippet">
		<div class="bd-example m-0 border-0">

			<h3>${mestre.titulo}</h3>
			<hr />

			<form class="row needs-validation" name="${mestre.nomePasta}form" method="POST"
				action="/${mestre.nomePasta}" novalidate>

				<input type="hidden" name="${mestre.entidadeReferencia.entidade.classe.substring(0,1).toLowerCase()}${mestre.entidadeReferencia.entidade.classe.substring(1)}Id" value="*{${mestre.entidadeReferencia.classe.substring(0,1).toLowerCase()}${mestre.entidadeReferencia.classe.substring(1)}X.id}"> 
				<input type="hidden" name="id"> 
				<input type="hidden" name="action" value="novo">

					<div class="col-6 mb-3">
						<label for="nomeInput" class="form-label">${mestre.entidadeReferencia.entidade.titulo}</label><p> 
						<strong>*{${mestre.entidadeReferencia.entidade.classe.substring(0,1).toLowerCase()}${mestre.entidadeReferencia.entidade.classe.substring(1)}X.${mestre.entidadeReferencia.campo}}</strong>
					</div>

				<p>
				<div class="col mb-3">
					<button type="submit" id="btnSalvar"
						class="btn btn-dark btn-sm py-1">
						<i class="bi-save"></i> Salvar
					</button>
				</div>
			
			<hr />

			<table class="table caption-top">
				<thead>
					<tr>
					#foreach( $campo in ${mestre.campos} )
						<th scope="col">${campo.rotulo}</th>
					#end
					</tr>
				</thead>

				<tbody>
				<c:forEach var="p" items="*{${entidade.classe.toLowerCase()}s}">
				<tr>
				
				<td>*{p.${mestre.campoRotulo.getVarNome()}.${mestre.campoRotulo.campoReferencia}}<input type="hidden" name="${mestre.campoRotulo.getVarNome()}Id" value="${p.id}"></td>
				<td><input type="number"  class="form-control"  name="${mestre.campoValor.getVarNome()}Lote" size="any" value="*{p.${mestre.campoValor.getVarNome()}}"></td>
				
				</td>
				</tr>
				</c:forEach>
				</tbody>
			</table>
			</form>
			
		</div>
	</div>