<%@ page contentType="text/html;charset=UTF-8"%>
<%@ taglib uri="jakarta.tags.core" prefix="c"%>

<div class="container">
	<p>

		<nav aria-label="breadcrumb" class="mb-3">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Início</a></li>
				<li class="breadcrumb-item active" aria-current="page">${lote.titulo}</li>
			</ol>
		</nav>
	<p>
	<div class="bd-example-snippet bd-code-snippet">
		<div class="bd-example m-0 border-0">

			<h3>${lote.titulo}</h3>
			<hr />

			<form class="row needs-validation" name="${lote.nomePasta}form" method="POST"
				action="/${lote.nomePasta}/carregar" novalidate>

				<input type="hidden" name="id"> <input type="hidden"
					name="action" value="novo">
					
					#foreach( $campo in ${lote.filtro.campos} )
						#parse("template/campos.vm")
					#end
					
					#foreach( $campo in ${lote.campos} )
						#parse("template/campos.vm")
					#end

				<p>
				<div class="col mb-3">
					<button type="submit" id="btnPesquisar"
						class="btn btn-dark btn-sm py-1">
						<i class="bi-save"></i> Pesquisar
					</button>
				</div>
			</form>
			
			<hr />
			
				<form class="row needs-validation" name="lancamentonotasform"
				method="POST" action="/${lote.nomePasta}" novalidate>

				<div class="col mb-3">
					<button type="submit" id="btnRegistrar"
						class="btn btn-dark btn-sm py-1">
						<i class="bi-save"></i> Registrar
					</button>
				</div>

			<table class="table caption-top">
				<thead>
					<tr>
					
					#foreach( $campo in ${lote.saida.campos} )
						<th scope="col">${campo.rotulo}</th>
					#end
					</tr>
				</thead>
				<tbody>
					<c:forEach var="p" items="*{${lote.nomePasta}s}">
						<tr>

						#foreach($campo in ${lote.saida.campos})
							
							<td>
								#if($campo.referencia)
									*{p.${campo.nome.toLowerCase()}.${campo.campoReferencia}}
								#elseif($campo.tipo == 'Date')
									*{p.${campo.nome}Str}	
								#elseif($campo.entradaLote)
									
									<input type="hidden" id="${lote.entidadeBase.toLowerCase()}IdInput"  name="${lote.entidadeBase.toLowerCase()}IdInput" value="*{p.id}"/>
									
									#if($campo.tipo == 'Enum')
										<select	name="${campo.nome}Input" class="form-control" id="${campo.nome}Input" required>
											<option value="">Selecione</option>
											<c:forEach var="c" items="*{Dominio${campo.nome}}">
												<option value="${c}" <c:if test="*{c eq p.${campo.nome}}">selected</c:if>>${c}</option>
											</c:forEach>
										</select>
									#else
										<input type="${campo.tipoEntrada}" id="${campo.nome}Input" name="${campo.nome}Input" class="form-control" value="*{p.${campo.nome}}" required></td>
									#end
								#else
									*{p.${campo.nome}}
								#end
							</td>
						#end
							
						</tr>
					</c:forEach>
				</tbody>
			</table>
			
			</form>

		</div>
	</div>
</div>
